Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

Update node.md
  content/docs/guides/node.md
Due: markdownlint --fix --ignore-path .gitignore

fix: community label color
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

chore: add code highlighting and fix strong tag issues
  src/app/blog/[slug]/page.jsx
  src/styles/blog-content.css
Due: prettier --write, eslint --cache --fix

feat: integrate appearances with WP
  public/images/pages/blog/chevron.svg
  src/app/blog/(index)/layout.jsx
  src/app/blog/(index)/page.jsx
  src/components/pages/blog/appearance-engineering/appearance-engineering.jsx
  src/components/pages/blog/release-notes-list/release-notes-list.jsx
  src/components/pages/blog/video-list/video-list.jsx
  src/utils/api-posts.js
Due: prettier --write, eslint --cache --fix

revise example
  content/docs/guides/node.md
Due: markdownlint --fix --ignore-path .gitignore

feat: categories routing
  src/app/blog/(index)/category/[slug]/page.jsx
  src/app/blog/(index)/layout.jsx
  src/app/blog/(index)/page.jsx
  src/components/pages/blog/appearance-engineering/appearance-engineering.jsx
  src/components/pages/blog/blog-nav-link/blog-nav-link.jsx
  src/components/pages/blog/blog-nav-link/index.js
  src/components/pages/blog/blog-post-card/blog-post-card.jsx
  src/components/pages/blog/video-list/video-list.jsx
  src/utils/api-posts.js
Due: prettier --write, eslint --cache --fix

feat: update label colors
  src/components/pages/blog-post/hero/hero.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: update layout for category page
  src/app/blog/(index)/category/[slug]/page.jsx
  src/app/blog/(index)/layout.jsx
  src/components/pages/blog/blog-post-card/blog-post-card.jsx
  src/utils/api-posts.js
Due: prettier --write, eslint --cache --fix

fix: update label colors on main page
  src/components/pages/blog-post/more-articles/more-articles.jsx
Due: prettier --write, eslint --cache --fix

feat: add adaptive xl
  src/app/blog/(index)/category/[slug]/page.jsx
  src/app/blog/(index)/layout.jsx
  src/components/pages/blog/appearance-engineering/appearance-engineering.jsx
  src/components/pages/blog/blog-nav-link/blog-nav-link.jsx
  src/components/pages/blog/blog-post-card/blog-post-card.jsx
  src/components/pages/blog/communities/communities.jsx
  src/components/pages/blog/featured-posts-list/featured-posts-list.jsx
  src/components/pages/blog/posts-list/posts-list.jsx
  src/components/pages/blog/video-list/video-list.jsx
  src/constants/blog.js
Due: prettier --write, eslint --cache --fix

Fix links
  content/docs/extensions/pgvector.md
  content/release-notes/2022-12-28-console.md
Due: markdownlint --fix --ignore-path .gitignore

Update github-actions.md
  content/docs/reference/github-actions.md
Due: markdownlint --fix --ignore-path .gitignore

Create psycopg2.md
  content/docs/guides/psycopg2.md
Due: markdownlint --fix --ignore-path .gitignore

fix: update hover conditions for post authors
  src/components/pages/blog-post/aside/aside.jsx
Due: prettier --write, eslint --cache --fix

feat: add more blog categories to aside
  src/app/blog/(index)/layout.jsx
  src/components/pages/blog/blog-nav-link/blog-nav-link.jsx
Due: prettier --write, eslint --cache --fix

Revert "feat: add more blog categories to aside"
  src/app/blog/(index)/layout.jsx
  src/components/pages/blog/blog-nav-link/blog-nav-link.jsx
Due: prettier --write, eslint --cache --fix

chore: update tag colors
  src/constants/blog.js
Due: prettier --write, eslint --cache --fix

chore: remove large cover from blog post page
  src/app/blog/[slug]/page.jsx
  src/components/pages/blog-post/content/content.jsx
Due: prettier --write, eslint --cache --fix

chore: get rid of small cover image
  src/components/pages/blog-post/aside/aside.jsx
  src/utils/api-posts.js
Due: prettier --write, eslint --cache --fix

revisions. Add entry to sidebar.
  content/docs/guides/psycopg2.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

Update psycopg2.md
  content/docs/guides/psycopg2.md
Due: markdownlint --fix --ignore-path .gitignore

rename file
  content/docs/guides/python.md
Due: markdownlint --fix --ignore-path .gitignore

edit title
  content/docs/sidebar.yaml
Due: none

fix: update content classes for correct formatting
  src/app/blog/[slug]/page.jsx
Due: prettier --write, eslint --cache --fix

fix: blog post card size
  src/components/pages/blog-post/hero/hero.jsx
  src/components/pages/blog/blog-post-card/blog-post-card.jsx
  src/components/pages/blog/communities/communities.jsx
  src/components/pages/blog/featured-posts-list/featured-posts-list.jsx
  src/components/pages/blog/posts-list/posts-list.jsx
  src/constants/blog.js
Due: prettier --write, eslint --cache --fix

fix: inline code
  src/app/blog/[slug]/page.jsx
  src/components/pages/blog-post/content/content.jsx
  src/styles/blog-content.css
Due: prettier --write, eslint --cache --fix

Update elixir-ecto.md
  content/docs/guides/elixir-ecto.md
Due: markdownlint --fix --ignore-path .gitignore

feat: add hover state for links
  src/components/pages/blog-post/hero/hero.jsx
  src/components/pages/blog/appearance-engineering/appearance-engineering.jsx
  src/components/pages/blog/blog-post-card/blog-post-card.jsx
  src/components/pages/blog/posts-list/posts-list.jsx
  src/components/pages/blog/release-notes-list/release-notes-list.jsx
  src/components/pages/blog/video-list/video-list.jsx
  src/components/shared/link/link.jsx
  src/constants/blog.js
Due: prettier --write, eslint --cache --fix
