Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: add all news link
  src/components/pages/blog-post/more-articles/more-articles.jsx
  src/components/shared/link/link.jsx
Due: prettier --write, eslint --cache --fix

fix: change li bullet color
  src/styles/blog-content.css
Due: prettier --write

fix: minor fix
  src/styles/blog-content.css
Due: prettier --write

fix: adjust indents of headings
  src/styles/blog-content.css
Due: prettier --write

fix: update li bullets
  src/styles/blog-content.css
Due: prettier --write

feat: integrate images with WP
  src/app/blog/[slug]/page.jsx
  src/components/pages/blog-post/aside/aside.jsx
  src/components/pages/blog-post/content/content.jsx
  src/components/pages/blog-post/more-articles/more-articles.jsx
  src/styles/blog-content.css
  src/utils/api-posts.js
Due: prettier --write, eslint --cache --fix

fix: adjust bullet color
  src/styles/blog-content.css
Due: prettier --write

revisions
  content/docs/import/import-from-neon.md
  content/docs/import/import-from-postgres.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

revisions
  content/docs/import/import-from-postgres.md
Due: markdownlint --fix --ignore-path .gitignore

revisions
  content/docs/import/import-from-neon.md
  content/docs/import/import-from-postgres.md
Due: markdownlint --fix --ignore-path .gitignore

revise
  content/docs/import/import-from-neon.md
Due: markdownlint --fix --ignore-path .gitignore

Create github-actions.md
  content/docs/reference/github-actions.md
Due: markdownlint --fix --ignore-path .gitignore

Update github-actions.md
  content/docs/reference/github-actions.md
Due: markdownlint --fix --ignore-path .gitignore

Update import-from-postgres.md
  content/docs/import/import-from-postgres.md
Due: markdownlint --fix --ignore-path .gitignore

feat: add hover states
  src/components/pages/blog-post/aside/aside.jsx
  src/components/pages/blog-post/cta/cta.jsx
  src/components/pages/blog-post/more-articles/more-articles.jsx
  src/components/pages/blog-post/social-share/images/facebook.inline.svg
  src/components/pages/blog-post/social-share/images/linkedin.inline.svg
  src/components/pages/blog-post/social-share/images/twitter.inline.svg
  src/components/pages/blog-post/social-share/social-share.jsx
  src/components/shared/button/button.jsx
  src/components/shared/link/link.jsx
  src/styles/blog-content.css
Due: prettier --write, eslint --cache --fix

feat: develop form states
  src/app/blog/[slug]/page.jsx
  src/components/pages/blog-post/content/content.jsx
  src/components/pages/blog-post/hero/hero.jsx
  src/components/pages/blog-post/subscribe-form/subscribe-form.jsx
  src/components/shared/subscription-form/subscription-form.jsx
  src/styles/blog-content.css
Due: prettier --write, eslint --cache --fix

feat: heading size in blog
  src/styles/blog-content.css
Due: prettier --write

feat: link for authors
  src/app/blog/[slug]/page.jsx
  src/components/pages/blog-post/aside/aside.jsx
  src/components/shared/code-block/code-block.jsx
  src/styles/blog-content.css
Due: prettier --write, eslint --cache --fix

feat: adjust styles with pixel perfect
  src/app/blog/[slug]/page.jsx
  src/components/pages/blog-post/content/content.jsx
  src/components/pages/blog-post/cta/cta.jsx
  src/components/pages/blog-post/hero/hero.jsx
  src/components/pages/blog-post/more-articles/more-articles.jsx
  src/components/pages/blog-post/social-share/social-share.jsx
  src/components/pages/blog-post/subscribe-form/subscribe-form.jsx
  src/styles/blog-content.css
Due: prettier --write, eslint --cache --fix

fix: env variable
  src/app/blog/[slug]/page.jsx
Due: prettier --write, eslint --cache --fix

feat: add categories color
  src/components/pages/blog-post/more-articles/more-articles.jsx
  src/constants/blog.js
Due: prettier --write, eslint --cache --fix

fix: add more category color
  src/components/pages/blog-post/hero/hero.jsx
  src/components/pages/blog-post/more-articles/more-articles.jsx
Due: prettier --write, eslint --cache --fix

Add support doc
  content/docs/introduction/support.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

revision
  content/docs/introduction/support.md
Due: markdownlint --fix --ignore-path .gitignore

feat: update footer menu
  src/components/pages/doc/previous-and-next-links/previous-and-next-links.jsx
  src/constants/links.js
  src/constants/menus.js
Due: prettier --write, eslint --cache --fix

initial content
  content/docs/guides/node.md
  content/release-notes/2023-05-16-storage-and-compute.md
Due: markdownlint --fix --ignore-path .gitignore

Update 2023-05-16-storage-and-compute.md
  content/release-notes/2023-05-16-storage-and-compute.md
Due: markdownlint --fix --ignore-path .gitignore

revisions
  content/docs/connect/connectivity-issues.md
  content/release-notes/2023-05-16-storage-and-compute.md
Due: markdownlint --fix --ignore-path .gitignore

remove item, recategorize item, fix abbreviation
  content/docs/connect/connectivity-issues.md
  content/release-notes/2023-05-16-storage-and-compute.md
Due: markdownlint --fix --ignore-path .gitignore

feat: develop featured posts
  src/app/blog/page.jsx
  src/components/pages/blog-post/more-articles/more-articles.jsx
  src/components/pages/blog/blog-post-card/blog-post-card.jsx
  src/components/pages/blog/blog-post-card/index.js
  src/components/pages/blog/featured-posts/featured-posts.jsx
  src/components/pages/blog/featured-posts/index.js
  src/components/shared/header/header.jsx
  src/utils/api-posts.js
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: add new colors
  src/components/pages/blog-post/aside/aside.jsx
  src/components/pages/blog-post/hero/hero.jsx
  src/components/pages/blog-post/more-articles/more-articles.jsx
  src/components/pages/blog-post/subscribe-form/subscribe-form.jsx
  src/components/shared/button/button.jsx
  src/components/shared/link/link.jsx
  src/styles/blog-content.css
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
