Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Revisions.
  connection_details.png
  content/docs/get-started-with-neon/branching-quickstart.md
  content/docs/get-started-with-neon/images/connection_details.png
  content/docs/get-started-with-neon/images/reset_password.png
  reset_password.png
Due: markdownlint --fix --ignore-path .gitignore

Update branching-quickstart.md
  content/docs/get-started-with-neon/branching-quickstart.md
Due: markdownlint --fix --ignore-path .gitignore

Update sidebar.yaml
  content/docs/sidebar.yaml
Due: none

Add files via upload
  content/docs/conceptual-guides/images/view_branches.png
Due: none

Update branching.md
  content/docs/conceptual-guides/branching.md
Due: markdownlint --fix --ignore-path .gitignore

Update glossary.md
  content/docs/reference/glossary.md
Due: markdownlint --fix --ignore-path .gitignore

fix: address review comments
  content/docs/cloud/about.md
  src/components/pages/doc/admonition/admonition.jsx
  src/components/pages/doc/code-tabs/code-tabs.jsx
  src/components/pages/doc/sidebar/item/item.jsx
  src/components/pages/doc/sidebar/item/sub-item/sub-item.jsx
  src/components/pages/doc/table-of-contents/table-of-contents.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/layout/layout.jsx
  src/styles/doc-content.css
  src/templates/doc.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: adjust styles for table
  content/docs/cloud/about.md
  src/styles/doc-content.css
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Rename file and other revisions.
  content/docs/get-started-with-neon/get-started-branching.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

Update get-started-branching.md
  content/docs/get-started-with-neon/get-started-branching.md
Due: markdownlint --fix --ignore-path .gitignore

feat: add doc footer
  .env.example
  gatsby-config.js
  gatsby/create-doc-pages.js
  src/components/pages/doc/doc-footer/doc-footer.jsx
  src/components/pages/doc/doc-footer/images/confusing.jpg
  src/components/pages/doc/doc-footer/images/crying.jpg
  src/components/pages/doc/doc-footer/images/grinning.jpg
  src/components/pages/doc/doc-footer/images/smiling.jpg
  src/components/pages/doc/doc-footer/index.js
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/doc/previous-and-next-links/images/arrow.inline.svg
  src/components/pages/doc/previous-and-next-links/previous-and-next-links.jsx
  src/components/shared/anchor-heading/anchor-heading.jsx
  src/components/shared/code-block/code-block.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/footer/theme-select/theme-select.jsx
  src/templates/doc.jsx
Due: prettier --write, eslint --cache --fix

Create projects.md
  content/docs/manage/projects.md
Due: markdownlint --fix --ignore-path .gitignore

Update projects.md
  content/docs/manage/projects.md
Due: markdownlint --fix --ignore-path .gitignore

fix: generate breadcrumbs with sidebar
  gatsby/create-doc-pages.js
  src/components/pages/doc/breadcrumbs/breadcrumbs.jsx
  src/components/pages/doc/doc-footer/doc-footer.jsx
  src/templates/doc.jsx
Due: prettier --write, eslint --cache --fix

Create databases.md
  content/docs/manage/databases.md
Due: markdownlint --fix --ignore-path .gitignore

Create users.md
  content/docs/manage/users.md
Due: markdownlint --fix --ignore-path .gitignore

feat: implement breadcrumbs with second level
  content/docs/cloud/test/test.md
  content/docs/sidebar.yaml
  src/components/pages/doc/breadcrumbs/breadcrumbs.jsx
  src/components/pages/doc/sidebar/item/item.jsx
  src/components/pages/doc/sidebar/item/sub-item/sub-item.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: add active state of sidebar
  src/components/pages/doc/sidebar/item/sub-item/sub-item.jsx
Due: prettier --write, eslint --cache --fix

Add files via upload
  content/docs/get-started-with-neon/images/project_creation_regions.png
Due: none

Update regions.md
  content/docs/get-started-with-neon/regions.md
Due: markdownlint --fix --ignore-path .gitignore

Regions content updates.
  content/docs/conceptual-guides/images/project_creation_regions.png
  content/docs/conceptual-guides/regions.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

fix: fix sidebar in mobile version
  content/docs/cloud/test/test2.md
  content/docs/sidebar.yaml
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/templates/doc.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Add files via upload
  content/docs/conceptual-guides/images/project_creation_regions.png
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
