Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Update serverless-driver.md
  content/docs/guides/serverless-driver.md
Due: markdownlint --fix --ignore-path .gitignore

Update 2023-03-17.md
  content/release-notes/2023-03-17.md
Due: markdownlint --fix --ignore-path .gitignore

feat: add tooltip to compute hours
  package-lock.json
  package.json
  src/components/pages/pricing/estimates/estimates.jsx
  src/components/pages/pricing/estimates/images/info.inline.svg
  src/components/shared/tooltip/index.js
  src/components/shared/tooltip/tooltip.jsx
Due: prettier --write, eslint --cache --fix

fix: reduce faq question text size
  src/components/pages/pricing/faq/item/item.jsx
Due: prettier --write, eslint --cache --fix

feat: add Release notes filter
  src/app/docs/[...slug]/page.jsx
  src/app/docs/release-notes/[...slug]/head.jsx
  src/app/docs/release-notes/[...slug]/layout.jsx
  src/app/docs/release-notes/[...slug]/page.jsx
  src/app/docs/release-notes/[slug]/head.jsx
  src/app/docs/release-notes/[slug]/layout.jsx
  src/components/pages/doc/post/post.jsx
  src/components/pages/release-notes/aside/aside.jsx
  src/components/pages/release-notes/hero/hero.jsx
  src/components/pages/release-notes/release-note-list/release-note-list.jsx
  src/components/pages/release-notes/release-notes-filter/index.js
  src/components/pages/release-notes/release-notes-filter/release-notes-filter.jsx
  src/components/shared/seo/seo.jsx
  src/constants/docs.js
  src/icons/console-icon.inline.svg
  src/icons/docs-icon.inline.svg
  src/icons/serverless-icon.inline.svg
  src/icons/storage-icon.inline.svg
Due: prettier --write, eslint --cache --fix

Add link to pg_tiktoken GitHub repo.
  content/docs/reference/pg-extensions.md
  content/release-notes/2023-03-13.md
Due: markdownlint --fix --ignore-path .gitignore

Revise tags.
  content/release-notes/2023-03-03.md
  content/release-notes/2023-03-08.md
  content/release-notes/2023-03-15.md
Due: markdownlint --fix --ignore-path .gitignore

feat: add community banner docs component
  content/docs/introduction.md
  src/components/pages/doc/community-banner/community-banner.jsx
  src/components/pages/doc/community-banner/index.js
  src/components/shared/content/content.jsx
  src/icons/discourse-logo-white.inline.svg
  src/icons/discourse-logo.inline.svg
  tailwind.config.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: update introduction.md formatting
  content/docs/introduction.md
Due: markdownlint --fix --ignore-path .gitignore

feat: add subtitle field to the docs matter
  content/docs/README.md
  src/components/pages/doc/post/post.jsx
  src/utils/api-docs.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Move file. Add to sidebar
  content/docs/serverless/serverless-driver.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

Add subtitles to guides
  content/docs/guides/aws-lambda.md
  content/docs/guides/django.md
  content/docs/guides/java.md
  content/docs/guides/node.md
  content/docs/guides/prisma-guide.md
  content/docs/guides/sqlalchemy.md
  content/docs/guides/stepzen.md
  content/docs/guides/symfony.md
  content/docs/guides/vercel-manual.md
  content/docs/guides/vercel.md
Due: markdownlint --fix --ignore-path .gitignore

Add subtitles
  content/docs/guides/django.md
  content/docs/guides/go.md
  content/docs/guides/hasura.md
  content/docs/guides/koyeb.md
  content/docs/guides/laravel.md
  content/docs/guides/nextjs.md
  content/docs/guides/prisma.md
  content/docs/guides/rust.md
Due: markdownlint --fix --ignore-path .gitignore

Update django.md
  content/docs/guides/django.md
Due: markdownlint --fix --ignore-path .gitignore

Revisions
  content/docs/guides/django.md
  content/docs/guides/go.md
  content/docs/guides/prisma-guide.md
Due: markdownlint --fix --ignore-path .gitignore

chore: align package.json
  package.json
Due: none

fix: comment tooltip
  src/components/pages/pricing/estimates/estimates.jsx
Due: prettier --write, eslint --cache --fix

Move files from next
  content/docs/get-started-with-neon/create-project-and-schema.md
  content/docs/get-started-with-neon/data-recovery-with-branching.md
  content/docs/get-started-with-neon/neon-tutorial.md
  content/docs/get-started-with-neon/use-branching-for-test.md
  public/docs/get-started-with-neon/neon_create_project.png
  public/docs/get-started-with-neon/neon_endpoint_active.png
  public/docs/get-started-with-neon/neon_signin.png
Due: markdownlint --fix --ignore-path .gitignore

update paths
  content/docs/get-started-with-neon/neon-tutorial.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

Update create-project-and-schema.md
  content/docs/get-started-with-neon/create-project-and-schema.md
Due: markdownlint --fix --ignore-path .gitignore

Restructure
  content/docs/get-started-with-neon/neon-tutorial.md
  content/docs/get-started-with-neon/tutorial/create-project-and-schema.md
  content/docs/get-started-with-neon/tutorial/data-recovery-with-branching.md
  content/docs/get-started-with-neon/tutorial/neon-tutorial.md
  content/docs/get-started-with-neon/tutorial/use-branching-for-test.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

Restructure
  content/docs/sidebar.yaml
  content/docs/tutorial/create-project-and-schema.md
  content/docs/tutorial/data-recovery-with-branching.md
  content/docs/tutorial/neon-tutorial.md
  content/docs/tutorial/use-branching-for-test.md
Due: markdownlint --fix --ignore-path .gitignore

Revise titles
  content/docs/sidebar.yaml
  content/docs/tutorial/use-branching-for-test.md
Due: markdownlint --fix --ignore-path .gitignore

Update create-project-and-schema.md
  content/docs/tutorial/create-project-and-schema.md
Due: markdownlint --fix --ignore-path .gitignore

Update data-recovery-with-branching.md
  content/docs/tutorial/data-recovery-with-branching.md
Due: markdownlint --fix --ignore-path .gitignore

Update billing notes
  content/docs/introduction/billing.md
Due: markdownlint --fix --ignore-path .gitignore

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
