Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

Update node.md
  content/docs/guides/node.md
Due: markdownlint --fix --ignore-path .gitignore

Update hero.jsx
  src/components/pages/developer-days/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Update sidebar.yaml
  content/docs/sidebar.yaml
Due: none

Revisions. An initial endpoint content.
  content/docs/manage/databases.md
  content/docs/manage/endpoints.md
  content/docs/manage/projects.md
  content/docs/manage/users.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

feat: add remain components
  src/components/pages/branching/cta/cta.jsx
  src/components/pages/branching/cta/images/illustration.png
  src/components/pages/branching/cta/index.js
  src/components/pages/branching/features/features.jsx
  src/components/pages/branching/features/images/data.inline.svg
  src/components/pages/branching/features/images/queries.inline.svg
  src/components/pages/branching/features/images/test.inline.svg
  src/components/pages/branching/features/images/what-if.inline.svg
  src/components/pages/branching/features/index.js
  src/components/pages/branching/workflows/workflows.jsx
  src/components/shared/container/container.jsx
  src/pages/branching.jsx
Due: prettier --write, eslint --cache --fix

Create connect section.
  content/docs/connect/connection-pooling.md
  content/docs/connect/connection-strings
  content/docs/connect/connectivity-issues.md
  content/docs/connect/query-with-psql-editor.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

Rename file
  content/docs/connect/connection-strings.md
Due: markdownlint --fix --ignore-path .gitignore

Add files via upload
  content/docs/connect/connection_details.png
Due: none

Connection strings topic updates
  content/docs/connect/connection-strings.md
  content/docs/connect/images/connection_details.png
Due: markdownlint --fix --ignore-path .gitignore

Update connection-strings.md
  content/docs/connect/connection-strings.md
Due: markdownlint --fix --ignore-path .gitignore

feat: add animation for workflows(WIP)
  package-lock.json
  package.json
  src/components/pages/branching/hero/hero.jsx
  src/components/pages/branching/workflows/workflows.jsx
  src/components/shared/heading/heading.jsx
  src/constants/seo-data.js
  src/pages/branching.jsx
  static/animations/pages/branching/branching-route.riv
Due: prettier --write, eslint --cache --fix

Add files via upload
  content/docs/connect/images/code_connection_examples.png
Due: none

fix: minor fix
  src/components/pages/branching/workflows/workflows.jsx
  src/components/shared/container/container.jsx
Due: prettier --write, eslint --cache --fix

Add connect from any app topic
  content/docs/connect/connect-from-any-app.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

Update connect-from-any-app.md
  content/docs/connect/connect-from-any-app.md
Due: markdownlint --fix --ignore-path .gitignore

fix: remove threshold of wrapper
  src/components/pages/branching/workflows/workflows.jsx
Due: prettier --write, eslint --cache --fix

Revisions
  content/docs/connect/connect-from-any-app.md
  content/docs/connect/connection-strings.md
Due: markdownlint --fix --ignore-path .gitignore

Add overview topic
  content/docs/manage/manage-overview.md
  content/docs/manage/users.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

Change file name. Update sidebar.
  content/docs/manage/overview.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

Revisions
  content/docs/manage/databases.md
  content/docs/manage/endpoints.md
  content/docs/manage/overview.md
  content/docs/manage/projects.md
  content/docs/manage/users.md
Due: markdownlint --fix --ignore-path .gitignore

Update overview.md
  content/docs/manage/overview.md
Due: markdownlint --fix --ignore-path .gitignore

Update projects.md
  content/docs/manage/projects.md
Due: markdownlint --fix --ignore-path .gitignore

Move topics to manage section
  content/docs/manage/api-keys.md
  content/docs/manage/branches.md
  content/docs/manage/overview.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

Revisions
  content/docs/manage/api-keys.md
  content/docs/manage/branches.md
  content/docs/manage/databases.md
  content/docs/manage/endpoints.md
  content/docs/manage/images/branch_details.png
  content/docs/manage/images/connection_details.png
  content/docs/manage/images/create_branch.png
  content/docs/manage/overview.md
  content/docs/manage/projects.md
  content/docs/manage/users.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

Update users.md
  content/docs/manage/users.md
Due: markdownlint --fix --ignore-path .gitignore

Revisions
  content/docs/connect/connect-from-any-app.md
  content/docs/connect/connection-strings.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore
