Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Update content/docs/introduction/autoscaling.md
  content/docs/introduction/autoscaling.md
Due: markdownlint --fix --ignore-path .gitignore

revisions
  content/docs/introduction/autoscaling.md
  content/docs/reference/glossary.md
Due: markdownlint --fix --ignore-path .gitignore

Update content/docs/reference/glossary.md
  content/docs/reference/glossary.md
Due: markdownlint --fix --ignore-path .gitignore

Update autoscaling.md
  content/docs/introduction/autoscaling.md
Due: markdownlint --fix --ignore-path .gitignore

Update pgvector.md
  content/docs/reference/pgvector.md
Due: markdownlint --fix --ignore-path .gitignore

revisions
  content/docs/extensions/pg-extensions.md
  content/docs/extensions/pgvector.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

Update sidebar.yaml
  content/docs/sidebar.yaml
Due: none

Update pgvector.md
  content/docs/extensions/pgvector.md
Due: markdownlint --fix --ignore-path .gitignore

add pg_tiktoken
  content/docs/extensions/pg_tiktoken.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

remove repeated content
  content/docs/introduction/billing.md
Due: markdownlint --fix --ignore-path .gitignore

Update pg-extensions.md
  content/docs/extensions/pg-extensions.md
Due: markdownlint --fix --ignore-path .gitignore

Revisions
  content/docs/guides/prisma-migrate.md
  content/docs/guides/prisma.md
Due: markdownlint --fix --ignore-path .gitignore

Update prisma.md
  content/docs/guides/prisma.md
Due: markdownlint --fix --ignore-path .gitignore

Update vercel.md
  content/docs/guides/vercel.md
Due: markdownlint --fix --ignore-path .gitignore

revisions
  content/docs/guides/prisma-migrate.md
  content/docs/sidebar.yaml
  content/docs/unused/prisma-guide.md
Due: markdownlint --fix --ignore-path .gitignore

revisions
  content/docs/guides/prisma-migrate.md
  content/docs/guides/prisma.md
Due: markdownlint --fix --ignore-path .gitignore

Update prisma-migrate.md
  content/docs/guides/prisma-migrate.md
Due: markdownlint --fix --ignore-path .gitignore

fix: compute-lifecycle spelling
  content/docs/introduction/compute-lifecycle.md
Due: markdownlint --fix --ignore-path .gitignore

chore: update pricing copy
  src/components/pages/pricing/calculator/calculator.jsx
  src/components/pages/pricing/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: estimated price mobile issue
  src/components/pages/pricing/calculator/calculator.jsx
Due: prettier --write, eslint --cache --fix

Update connect-from-any-app.md
  content/docs/connect/connect-from-any-app.md
Due: markdownlint --fix --ignore-path .gitignore

feat: update pricing cta content
  src/components/pages/pricing/calculator/calculator.jsx
Due: prettier --write, eslint --cache --fix

fix: update calculator threshold logic
  src/components/pages/pricing/calculator/calculator.jsx
Due: prettier --write, eslint --cache --fix

fix: threshold logic calc
  src/components/pages/pricing/calculator/calculator.jsx
Due: prettier --write, eslint --cache --fix

chore: update pricing calculator copy
  src/components/pages/pricing/calculator/calculator.jsx
Due: prettier --write, eslint --cache --fix

Auto-suspend delay docs
  content/docs/manage/endpoints.md
Due: markdownlint --fix --ignore-path .gitignore

chore: update / with per
  src/components/pages/pricing/calculator/calculator.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
