Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Update 2022-11-16.md
  content/release-notes/2022-11-16.md
Due: markdownlint --fix --ignore-path .gitignore

fix: small updates
  src/components/shared/search/results/results.jsx
Due: prettier --write, eslint --cache --fix

Update glossary.md
  content/docs/reference/glossary.md
Due: markdownlint --fix --ignore-path .gitignore

fix: adjust paddings, proptypes, add clickoutside to mobilenav
  src/components/pages/blog/posts-list/posts-list.jsx
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/release-notes/release-note-list/release-note-list.jsx
  src/templates/doc.jsx
Due: prettier --write, eslint --cache --fix

fix: reset container size for docs
  src/components/shared/container/container.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/header/header.jsx
Due: prettier --write, eslint --cache --fix

fix: container size
  src/templates/doc.jsx
Due: prettier --write, eslint --cache --fix

Update technical-preview-free-tier.md
  content/docs/reference/technical-preview-free-tier.md
Due: markdownlint --fix --ignore-path .gitignore

Add files via upload
  content/docs/get-started-with-neon/images/branch_details.png
  content/docs/get-started-with-neon/images/connection_details.png
Due: none

Add files via upload
  content/docs/get-started-with-neon/images/create_branch.png
Due: none

Connection details updates and other edits
  content/docs/get-started-with-neon/connection-pooling.md
  content/docs/get-started-with-neon/get-started-branching.md
  content/docs/get-started-with-neon/query-with-psql-editor.md
  content/docs/get-started-with-neon/setting-up-a-project.md
  content/docs/guides/django.md
  content/docs/guides/hasura.md
  content/docs/guides/laravel.md
  content/docs/guides/prisma.md
  content/docs/guides/vercel.md
  content/docs/how-to-guides/import-an-existing-database.md
  content/docs/reference/glossary.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

Revisions
  content/docs/guides/django.md
  content/docs/guides/go.md
  content/docs/guides/java.md
  content/docs/guides/laravel.md
  content/docs/guides/rust.md
  content/docs/guides/sqlalchemy.md
  content/docs/guides/symfony.md
  content/docs/how-to-guides/import-an-existing-database.md
  content/docs/how-to-guides/import-from-heroku.md
Due: markdownlint --fix --ignore-path .gitignore

fix: dark theme on release notes
  src/components/pages/release-notes/aside/aside.jsx
  src/components/pages/release-notes/release-note-list/release-note-list.jsx
Due: prettier --write, eslint --cache --fix

feat: update code highlighting
  src/styles/highlighted-code.css
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

fix: search result
  src/components/shared/search/results/images/algolia-logo.inline.svg
  src/components/shared/search/results/results.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

Update hero.jsx
  src/components/pages/developer-days/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

chore: remove testing data
  content/docs/cloud/about.md
Due: markdownlint --fix --ignore-path .gitignore

feat: add dark theme for release note post
  src/components/pages/release-notes/hero/hero.jsx
  src/components/shared/heading/heading.jsx
  src/components/shared/link/link.jsx
  src/templates/release-note-post.jsx
Due: prettier --write, eslint --cache --fix

fix: add indents for table on mobile
  src/styles/doc-content.css
Due: prettier --write

fix: footer text color
  src/components/pages/doc/code-tabs/code-tabs.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/layout/layout.jsx
Due: prettier --write, eslint --cache --fix

chore: update team member list
  src/components/pages/team/team/images/kate-klink-photo.jpg
  src/components/pages/team/team/team.jsx
Due: prettier --write, eslint --cache --fix

Minor edit
  content/docs/guides/vercel.md
Due: markdownlint --fix --ignore-path .gitignore

Update connectivity-issues.md
  content/docs/how-to-guides/connectivity-issues.md
Due: markdownlint --fix --ignore-path .gitignore

Revisions
  content/docs/get-started-with-neon/query-with-psql-editor.md
  content/docs/guides/django.md
  content/docs/guides/go.md
  content/docs/guides/hasura.md
  content/docs/guides/java.md
  content/docs/guides/prisma.md
  content/docs/guides/sqlalchemy.md
  content/docs/guides/symfony.md
  content/docs/guides/vercel.md
Due: markdownlint --fix --ignore-path .gitignore

General edits.
  content/docs/conceptual-guides/compute-lifecycle.md
  content/docs/get-started-with-neon/connection-pooling.md
  content/docs/get-started-with-neon/get-started-branching.md
  content/docs/get-started-with-neon/query-with-neon-sql-editor.md
  content/docs/get-started-with-neon/setting-up-a-project.md
  content/docs/guides/django.md
  content/docs/guides/go.md
  content/docs/guides/hasura.md
  content/docs/guides/java.md
  content/docs/guides/node.md
  content/docs/guides/prisma.md
  content/docs/guides/sqlalchemy.md
  content/docs/guides/symfony.md
  content/docs/how-to-guides/import-an-existing-database.md
  content/docs/reference/glossary.md
Due: markdownlint --fix --ignore-path .gitignore

Update setting-up-a-project.md
  content/docs/get-started-with-neon/setting-up-a-project.md
Due: markdownlint --fix --ignore-path .gitignore

Update node.md
  content/docs/guides/node.md
Due: markdownlint --fix --ignore-path .gitignore

feat: add Hero and branch data components
  src/components/pages/blog/pagination/pagination.jsx
  src/components/pages/blog/posts-list/posts-list.jsx
  src/components/pages/branching/branch-data/branch-data.jsx
  src/components/pages/branching/branch-data/images/instant.inline.svg
  src/components/pages/branching/branch-data/images/seamless.inline.svg
  src/components/pages/branching/branch-data/index.js
  src/components/pages/branching/hero/hero.jsx
  src/components/pages/branching/hero/images/illustration.jpg
  src/components/pages/branching/hero/index.js
  src/components/pages/jobs/jobs-list/jobs-list.jsx
  src/components/pages/team/cta/cta.jsx
  src/components/pages/team/team/team.jsx
  src/components/shared/container/container.jsx
  src/components/shared/link/link.jsx
  src/pages/branching.jsx
  src/styles/global.css
  src/templates/release-note-post.jsx
  src/templates/static.jsx
Due: prettier --write, eslint --cache --fix

feat: add workflows component
  src/components/pages/branching/branch-data/branch-data.jsx
  src/components/pages/branching/hero/hero.jsx
  src/components/pages/branching/hero/images/illustration.jpg
  src/components/pages/branching/hero/images/illustration.png
  src/components/pages/branching/workflows/index.js
  src/components/pages/branching/workflows/workflows.jsx
  src/pages/branching.jsx
Due: prettier --write, eslint --cache --fix

Update 2022-11-04.md
  content/release-notes/2022-11-04.md
Due: markdownlint --fix --ignore-path .gitignore

Update query-with-psql-editor.md
  content/docs/get-started-with-neon/query-with-psql-editor.md
Due: markdownlint --fix --ignore-path .gitignore

feat: add recovery component
  src/components/pages/branching/recovery/images/screen.svg
  src/components/pages/branching/recovery/index.js
  src/components/pages/branching/recovery/recovery.jsx
  src/components/pages/branching/workflows/workflows.jsx
  src/pages/branching.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
