Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

fix: reuse icons
  src/components/pages/blog-post/social-share/social-share.jsx
  src/components/pages/blog/sidebar/images/linkedin.inline.svg
  src/components/pages/blog/sidebar/images/twitter.inline.svg
  src/components/pages/blog/sidebar/sidebar.jsx
  src/icons/facebook-sm.inline.svg
  src/icons/github-sm.inline.svg
  src/icons/linkedin-sm.inline.svg
  src/icons/twitter-sm.inline.svg
  src/icons/youtube-sm.inline.svg
Due: prettier --write, eslint --cache --fix

Create 2023-05-30-docs.md
  content/release-notes/2023-05-30-docs.md
Due: markdownlint --fix --ignore-path .gitignore

Update 2023-05-30-docs.md
  content/release-notes/2023-05-30-docs.md
Due: markdownlint --fix --ignore-path .gitignore

fix: comment preload
  src/app/pricing/page.jsx
  src/app/pricing/preload-resources.jsx
Due: prettier --write, eslint --cache --fix

fix: canonical slug
  src/app/blog/[slug]/page.jsx
  src/app/docs/[...slug]/page.jsx
  src/components/pages/blog-post/aside/aside.jsx
  src/components/pages/blog/blog-post-card/blog-post-card.jsx
  src/components/pages/pricing/metrics/metrics.jsx
  src/constants/links.js
Due: prettier --write, eslint --cache --fix

fix: release notes link
  src/components/pages/blog/release-notes-list/release-notes-list.jsx
Due: prettier --write, eslint --cache --fix

Update style-guide.md
  content/docs/style-guide.md
Due: markdownlint --fix --ignore-path .gitignore

fix: change intro document layout
  src/components/pages/doc/intro-navigation/intro-navigation.jsx
Due: prettier --write, eslint --cache --fix

docs: change intro nav text
  content/docs/introduction.md
Due: markdownlint --fix --ignore-path .gitignore

feat: update cards layout in the docs introduction section
  src/components/pages/doc/intro-navigation/intro-navigation.jsx
  src/icons/audio-jack.inline.svg
  src/icons/filter-organization.inline.svg
  src/icons/plug.inline.svg
  src/icons/puzzle.inline.svg
  src/icons/split-branch.inline.svg
  src/icons/upload-file.inline.svg
Due: prettier --write, eslint --cache --fix

feat: set preload false
  src/app/fonts.js
Due: prettier --write, eslint --cache --fix

feat: add mobile styles
  src/components/pages/doc/intro-navigation/intro-navigation.jsx
Due: prettier --write, eslint --cache --fix

fix: margins and font size on guides cards
  src/components/pages/doc/technology-navigation/technology-navigation.jsx
Due: prettier --write, eslint --cache --fix

fix: set font preload false
  src/app/fonts.js
Due: prettier --write, eslint --cache --fix

fix: update cards layout in docs intro
  src/components/pages/doc/intro-navigation/intro-navigation.jsx
Due: prettier --write, eslint --cache --fix

Update connection string names in migrate from Postgres
  content/docs/import/import-from-postgres.md
Due: markdownlint --fix --ignore-path .gitignore

fix: preload resources
  src/app/pricing/layout.jsx
  src/app/pricing/page.jsx
  src/app/pricing/preload-resources.jsx
Due: prettier --write, eslint --cache --fix

fix: return fonts css
  public/fonts/ibm-plex-mono/ibm-plex-mono-bold.woff2
  public/fonts/ibm-plex-mono/ibm-plex-mono-regular.woff2
  public/fonts/ibm-plex-sans/ibm-plex-sans-bold.woff2
  public/fonts/ibm-plex-sans/ibm-plex-sans-light.woff2
  public/fonts/ibm-plex-sans/ibm-plex-sans-medium.woff2
  public/fonts/ibm-plex-sans/ibm-plex-sans-regular.woff2
  public/fonts/ibm-plex-sans/ibm-plex-sans-semibold.woff2
  src/app/fonts.js
  src/app/layout.jsx
  src/styles/fonts.css
  src/styles/globals.css
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

chore: fonts cache control
  next.config.js
Due: prettier --write, eslint --cache --fix

chore: remove seo image alt
  src/utils/get-metadata.js
Due: prettier --write, eslint --cache --fix

chore: remove redundant twitter metadata
  src/utils/get-metadata.js
Due: prettier --write, eslint --cache --fix

fix: wrap pricing layout with body
  src/app/pricing/layout.jsx
Due: prettier --write, eslint --cache --fix

fix: metadata for release notes
  src/app/docs/release-notes/[...slug]/page.jsx
Due: prettier --write, eslint --cache --fix

fix: enhance the title of release posts
  src/app/docs/release-notes/[...slug]/page.jsx
Due: prettier --write, eslint --cache --fix

feat: add og:type
  src/app/blog/[slug]/page.jsx
  src/app/docs/[...slug]/page.jsx
  src/app/docs/release-notes/[...slug]/page.jsx
  src/utils/get-metadata.js
Due: prettier --write, eslint --cache --fix

feat: add structured data
  src/app/blog/[slug]/page.jsx
  src/app/docs/[...slug]/page.jsx
  src/app/docs/release-notes/[...slug]/page.jsx
Due: prettier --write, eslint --cache --fix

Update compatibility.md
  content/docs/reference/compatibility.md
Due: markdownlint --fix --ignore-path .gitignore

fix: replace sources header of font
  next.config.js
Due: prettier --write, eslint --cache --fix

fix: headers source
  next.config.js
Due: prettier --write, eslint --cache --fix

Add Forest Admin to list of tested clients
  content/docs/connect/connect-postgres-gui.md
Due: markdownlint --fix --ignore-path .gitignore

chore: remove outdated functionality
  package-lock.json
  package.json
  src/app/api-reference/page.jsx
  src/app/api-reference/v2/page.jsx
Due: prettier --write, eslint --cache --fix

feat: custom component youtube iframe
  content/docs/guides/django.md
  content/docs/guides/vercel-postgres.md
  content/docs/guides/wundergraph.md
  src/components/pages/doc/youtube-iframe/index.js
  src/components/pages/doc/youtube-iframe/youtube-iframe.jsx
  src/components/shared/content/content.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: remove redundant margin
  src/components/pages/doc/youtube-iframe/youtube-iframe.jsx
Due: prettier --write, eslint --cache --fix

fix: minor fix
  src/components/pages/doc/youtube-iframe/youtube-iframe.jsx
Due: prettier --write, eslint --cache --fix

fix: return with & height
  src/components/pages/doc/youtube-iframe/youtube-iframe.jsx
Due: prettier --write, eslint --cache --fix

fix: update image size
  src/components/pages/blog-post/aside/aside.jsx
Due: prettier --write, eslint --cache --fix

fix: update to correct image size
  src/components/pages/blog-post/aside/aside.jsx
Due: prettier --write, eslint --cache --fix

Read replica content
  content/docs/introduction/read-replicas.md
  content/docs/manage/endpoints.md
Due: markdownlint --fix --ignore-path .gitignore

Wrap connection string codeblocks
  content/docs/connect/connect-from-any-app.md
  content/docs/connect/connection-pooling.md
  content/docs/connect/connectivity-issues.md
  content/docs/connect/query-with-psql-editor.md
  content/docs/guides/grafbase.md
  content/docs/guides/prisma.md
  content/docs/guides/stepzen.md
  content/docs/import/import-from-heroku.md
  content/docs/manage/branches.md
  content/docs/reference/glossary.md
  content/docs/unused/integrations-deprecated
  content/docs/unused/prisma-guide.md
  content/release-notes/2023-02-06-console.md
Due: markdownlint --fix --ignore-path .gitignore
