Repository neondatabase/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

feat: update nextjs to latest version
  package-lock.json
  package.json
Due: none

Update sidebar.yaml
  content/docs/sidebar.yaml
Due: none

feat: migrate from Preview Mode to Draft Mode
  src/app/api/preview-off/route.js
  src/app/api/preview/route.js
  src/app/blog/wp-draft-post-preview-page/page.jsx
  src/components/pages/blog-post/preview-warning/index.js
  src/components/pages/blog-post/preview-warning/preview-warning.jsx
  src/pages/api/exit-preview.js
  src/pages/api/preview.js
Due: prettier --write, eslint --cache --fix

fix: published post query
  src/utils/api-posts.js
Due: prettier --write, eslint --cache --fix

feat: prepare UI for partial data in preview mode
  src/components/pages/blog-post/aside/aside.jsx
  src/utils/get-react-content-with-lazy-blocks.jsx
Due: prettier --write, eslint --cache --fix

Update connection-latency.md
  content/docs/connect/connection-latency.md
Due: markdownlint --fix --ignore-path .gitignore

chore: remove redundant warning
  DEPENDENCY_UPDATES.md
Due: markdownlint --fix --ignore-path .gitignore

Update src/app/blog/wp-draft-post-preview-page/page.jsx
  src/app/blog/wp-draft-post-preview-page/page.jsx
Due: prettier --write, eslint --cache --fix

Create custom-plan.md
  content/docs/introduction/custom-plan.md
Due: markdownlint --fix --ignore-path .gitignore

Update custom-plan.md
  content/docs/introduction/custom-plan.md
Due: markdownlint --fix --ignore-path .gitignore

Update technical-preview-free-tier.md
  content/docs/introduction/technical-preview-free-tier.md
Due: markdownlint --fix --ignore-path .gitignore

revisions
  content/docs/introduction/custom-plan.md
  content/docs/introduction/pro-plan.md
  content/docs/introduction/technical-preview-free-tier.md
Due: markdownlint --fix --ignore-path .gitignore

Update billing.md
  content/docs/introduction/billing.md
Due: markdownlint --fix --ignore-path .gitignore

feat: update NextJS and enable Draft Mode instead of Preview Mode (#817)
  DEPENDENCY_UPDATES.md
  package-lock.json
  package.json
  src/app/api/preview-off/route.js
  src/app/api/preview/route.js
  src/app/blog/wp-draft-post-preview-page/page.jsx
  src/components/pages/blog-post/aside/aside.jsx
  src/components/pages/blog-post/preview-warning/index.js
  src/components/pages/blog-post/preview-warning/preview-warning.jsx
  src/pages/api/exit-preview.js
  src/pages/api/preview.js
  src/utils/api-posts.js
  src/utils/get-react-content-with-lazy-blocks.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

revisions
  content/docs/introduction/manage-billing.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

revisions
  content/docs/introduction/billing.md
  content/docs/introduction/manage-billing.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

revisions
  content/docs/introduction/billing.md
  content/docs/sidebar.yaml
Due: markdownlint --fix --ignore-path .gitignore

chore: remove local builded files
  public/robots.txt
Due: none

chore: ignore autobuilded files
  .gitignore
Due: none

feat: hide draft page from crawlers
  next-sitemap.config.js
Due: prettier --write, eslint --cache --fix

feat: hide draft page from users
  src/app/blog/wp-draft-post-preview-page/page.jsx
Due: prettier --write, eslint --cache --fix

fix: published posts draft preview
  src/app/api/preview/route.js
  src/app/blog/[slug]/page.jsx
Due: prettier --write, eslint --cache --fix

fix: update next image height in category
  src/app/blog/(index)/category/[slug]/page.jsx
  src/components/pages/blog-post/more-articles/more-articles.jsx
Due: prettier --write, eslint --cache --fix

revisions
  content/docs/introduction/pro-plan.md
  content/docs/introduction/technical-preview-free-tier.md
Due: markdownlint --fix --ignore-path .gitignore

Update pro-plan.md
  content/docs/introduction/pro-plan.md
Due: markdownlint --fix --ignore-path .gitignore

fix: set explicit image size on introduction page
  content/docs/introduction.md
  src/components/pages/doc/mobile-nav/mobile-nav.jsx
  src/components/pages/doc/sidebar/item/item.jsx
  src/components/pages/doc/sidebar/sidebar.jsx
  src/components/pages/doc/technology-navigation/technology-navigation.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

revisions
  content/docs/introduction/billing.md
  public/docs/introduction/billing_page_calculator.png
  public/docs/introduction/pricing_page_calculator.png
Due: markdownlint --fix --ignore-path .gitignore

revisions
  content/docs/introduction/billing.md
  content/docs/introduction/manage-billing.md
Due: markdownlint --fix --ignore-path .gitignore

Create plans.md
  content/docs/introduction/plans.md
Due: markdownlint --fix --ignore-path .gitignore
